# For dev and local deployments mostly

project_id = "<your-project-id>"

# Must be unique in the entire GCP
deploy_bucket = "<your-gcs-bucket>"

# Consider using your name or nickname
deploy_prefix = "<your-prefix>"

# Local deployment only. The main.tfvars file is in the .gitignore on purpose 
# so your keys will stay on your computer, but I do not recommend using 
# variables for pub/priv keys. See README.md for more information.
atlas_public_key = "<atlas_public_key>"
atlas_private_key = "<atlas_private_key>"

atlas_org_id = "atlas_org_id"
db_password = "<db_password>"
db_user = "<db_user>"
